* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

  .header-logo {
    width: 200px;
    margin-top: 10px;
  }

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255,255,255,0.3);
  }
  

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 36px;
    font-family: sans-serif;
    color: #444;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.sub-section-title-parent {
  text-align: center;
}

.sub-section-title {
  color: #444;
  font-size: 28px;
  border-bottom: 2px solid #dbb31c;
  display: inline-block;
}

.company-info-wrapper {
  padding-top: 50px;
}

.company-info-contents {
  padding-top: 20px;
  padding-bottom: 50px;
}

.company-info {
    float: left;
    width: 50%;
}

.logo {
  text-align: center;
}

.company-access-contents {
  padding-top: 20px;
  padding-bottom: 50px;
}

.company-access {
    float: left;
    width: 50%;
}

.company-staff-contents {
  padding-top: 20px;
  text-align: center;
}

.company-staff {
  float: left;
  width: 25%;
}

.staff-position {
  color: navy;
}

.staff-name {
  margin-top: -10px;
  color: #555;
}

.member1 {
  background-image: url(img/member1.jpg);
  width: 260px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
}

.member2 {
  background-image: url(img/member2.jpg);
  width: 260px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
}

.member3 {
  background-image: url(img/member3.jpg);
  width: 260px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
}

.member4 {
  background-image: url(img/member4.jpg);
  width: 260px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
}

.clear {
    clear: left;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-icon {
  color: black;
}