* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-form-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 33%;
  margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

  .header-logo {
    width: 200px;
    margin-top: 10px;
  }

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255,255,255,0.3);
  }
  

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 36px;
    color: #444;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-form {
    padding-top: 50px;
}

.contact-name {
  width: 50%;
  padding: 8px 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #d0d5d8;
  border-radius: 3px
}

.contact-mail {
    width: 50%;
    padding: 8px 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
	  border: 1px solid #d0d5d8;
	  border-radius: 3px
}

textarea {
    width: 50%;
    margin:10px 0 30px 0;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
}

.must {
    color: #fff;
    margin-right: 10px;
    padding: 6px 10px;
    background: #ff6347;
    border-radius: 20px;
}

.free {
    color: #fff;
    margin-right: 10px;
    padding: 6px 10px;
    background: #424242;
    border-radius: 20px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

input[value=送信] {
  width: 20%;
	height: 40px;
	background: #5dca88;
	color: #fff;
	font-size: 20px;
	/*font-weight: 600;*/
}

.submit {
  text-align: center;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-icon {
  color: black;
}