* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :fixed;
    top: 0;
    z-index: 200;
}

  .header-logo {
    width: 200px;
    margin-top: 10px;
  }

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255,255,255,0.3);
  }
  

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 36px;
    color: #444;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.services-wrapper {
    padding-top: 50px;
}

.services-contents {
  float:left;
  width:50%;
  text-align: center;
  position: relative;
}

.services-contents img {
  width: 500px;
  height: 350px;
  padding-bottom: 40px;
  filter:brightness(50%);
}

.services-contents-title {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 50px;
  z-index: 100;
  color:white;
  font-weight: bold;
  font-size: 25px;

  opacity: 0;
  transform : translate(0, -100%);
  transition : all 1500ms;
}

.services-contents-title.scrollin {
  opacity: 1;
  transform: translate(-50%, -100%);
}

.services-contents-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  color: white;
  font-weight: bold;
  font-size: 20px;

  opacity: 0;
  transform : translate(0, 0);
  transition : all 1500ms;
}

.services-contents-text.scrollin {
  opacity: 1;
  transform: translate(-50%, 0);
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-icon {
  color: black;
}

.clear {
  clear: left;
}